body{
    background-color: rgb(182, 182, 211);
}
li{
    background-color: rgb(85, 150, 150);
    margin-bottom: 50px;
    border-radius: 5px;
    list-style: none;
    padding:5px;
    width: 100px;
    text-align: center;

}
li:hover{
    background-color: blanchedalmond;
    cursor: pointer;

}
